body {
  background-color: #f3f3ee;
}
.vverh {
  width: 100%;
  height: 50px;
  background-color: #eadaba;
  font: 25px kelt;
  padding: 10px;
}

.container {
  display: flex;
}

.figure-caption {
  font: 18px kelt !important;
  color: #000000 !important;
  padding-top: 15px;
  padding-left: 110px;
}

.process {
  width: 300px;
  height: 55px;
  border-radius: 40px;
  border: 0cm;
  background-color: #d9d9d9;
  font: 18px kelt;
}

.plus {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 0cm;
  margin-top: 20px;
  margin-left: 130px;
  background-color: #e3e0d9;
}
.zadacha {
  width: 300px;
  border-radius: 40px;
  border: 0cm;
  margin-top: 20px;
  margin-left: 0px;
  background-color: #e3e0d9;
  font: 18px kelt;
}

.a {
  text-align: left;
  line-height: 0px;
  padding: 10px;
}

.comment {
  margin: 0 0 0 55px;
}

.ava {
  margin: 0 0 0 55px;
}

.container-fluid {
  width: 100%;
  height: 50px;
  background-color: #eadaba;
  font: 20px kelt;
  padding: 10px;
  text-align: center;
}

.side {
  font: 27px kelt;
}
.panel {
  text-align: left;
  font: 20px kelt;
  background-color: #e3e0d9;
  border-radius: 10px;
}
.panel1 {
  text-align: left;
  font: 20px kelt;
  background-color: #e3e0d9;
  border-radius: 10px;
  margin: 10 0 0 55px;
}

#side-checkbox {
  display: none;
}
.side-panel {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: -360px;
  background: #f3f3ee;
  transition: all 0.5s;
  width: 320px;
  height: 100vh;
  box-shadow: 10px 0 20px rgb(119, 117, 117);
  color: rgb(0, 0, 0);
  padding: 40px 20px;
}
/* Оформление кнопки на странице */
.side-button-1-wr {
  text-align: center; /* Контейнер для кнопки, чтобы было удобнее ее разместить */
}
.side-button-1 {
  display: inline-block;
}
.side-button-1 .side-b {
  margin: 10px;
  font-size: 20px;
  line-height: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  font: 15px kelt;
}
.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
  color: rgb(0, 0, 0);
}
.side-button-1 .side-b:after,
.side-button-1 .side-b:before {
  position: absolute;
  height: 4px;
  left: 50%;
  bottom: -6px;
  content: '';
  transition: all 280ms ease-in-out;
  width: 0;
}

/* Переключатели кнопки 1 */
.side-button-1 .side-close {
  display: none;
}
#side-checkbox:checked
  + .side-panel
  + .side-button-1-wr
  .side-button-1
  .side-open {
  display: none;
}
#side-checkbox:checked
  + .side-panel
  + .side-button-1-wr
  .side-button-1
  .side-close {
  display: block;
}
#side-checkbox:checked + .side-panel {
  left: 0;
}
/* Оформление кнопки на панеле */
.side-button-2 {
  font-size: 30px;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transform: rotate(45deg);
  color: #000000;
  transition: all 280ms ease-in-out;
}
.side-button-2:hover {
  transform: rotate(45deg) scale(1.1);
  color: rgb(0, 0, 0);
}

.slide-container {
  left: 0;
  position: absolute;
  top: 8px;
}

.slide-container .slide {
  background-color: #232323;
  border: solid #777;
  border-width: 2px 2px 2px 0;
  color: #fff;
  height: 48px;
  line-height: 48px;
  margin: 16px 0 0 -170px;
  position: relative;
  text-align: center;
  width: 200px;
  -moz-transition: margin 1s;
  -o-transition: margin 1s;
  -webkit-transition: margin 1s;
  transition: margin 1s;
}

.slide-container .slide:hover {
  margin-left: 0;
}

.slide-container .slide .slide-content {
  float: left;
  width: 170px;
}

.slide-container .slide .slide-header {
  float: left;
  width: 30px;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.slide-container .slide:hover .slide-header {
  opacity: 0;
}

#bokovon-lodsaba {
  display: none;
}
.bokovaya-panel {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: -360px;
  background: #f3f3ee;
  transition: all 0.5s;
  width: 320px;
  height: 100vh;
  box-shadow: 10px 0 20px rgb(119, 117, 117);
  color: rgb(0, 0, 0);
  padding: 40px 20px;
}
.zagolovok {
  font: 27px kelt;
}
.zagolovok1 {
  text-align: left;
  font: 20px kelt;
  background-color: #e3e0d9;
  border-radius: 10px;
  margin: 10 0 0 55px;
}
/* Оформление кнопки на странице */
.nogamlenu-knopki-1-wr {
  text-align: center;
}
.nogamlenu-knopki-1 {
  display: inline-block;
}
.nogamlenu-knopki-1 .side-b {
  margin: 10px;
  font-size: 20px;
  line-height: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  font: 15px kelt;
}
.nogamlenu-knopki-1 .side-b:hover,
.nogamlenu-knopki-1 .side-b:active,
.nogamlenu-knopki-1 .side-b:focus {
  color: rgb(0, 0, 0);
}
.nogamlenu-knopki-1 .side-b:after,
.nogamlenu-knopki-1 .side-b:before {
  position: absolute;
  height: 2px;
  left: 50%;
  bottom: -6px;
  content: '';
  transition: all 280ms ease-in-out;
  width: 0;
}
.nogamlenu-knopki-1 .side-open:after,
.nogamlenu-knopki-1 .side-open:before {
  background: #000000;
}
.nogamlenu-knopki-1 .side-close:after,
.nogamlenu-knopki-1 .side-close:before {
  background: #000000;
}
.nogamlenu-knopki-1 .side-b:before {
  top: -6px;
}
.nogamlenu-knopki-1 .side-b:hover:after,
.nogamlenu-knopki-1 .side-b:hover:before {
  width: 100%;
  left: 0;
}
/* Переключатели кнопки 1 */
.nogamlenu-knopki-1 .side-close {
  display: none;
}
#bokovon-lodsaba:checked
  + .bokovaya-panel
  + .nogamlenu-knopki-1-wr
  .nogamlenu-knopki-1
  .side-open {
  display: none;
}
#bokovon-lodsaba:checked
  + .bokovaya-panel
  + .nogamlenu-knopki-1-wr
  .nogamlenu-knopki-1
  .side-close {
  display: block;
}
#bokovon-lodsaba:checked + .bokovaya-panel {
  left: 0;
}
/* Оформление кнопки на панели */
.nogamlenu-knopki-2 {
  font-size: 32px;
  border-radius: 18px;
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transform: rotate(45deg);
  color: #000000;
  transition: all 280ms ease-in-out;
}
.nogamlenu-knopki-2:hover {
  transform: rotate(45deg) scale(1.1);
  color: #f7f3f3;
}
